<footer class="mid-footer-container">
    <div class="container">
        <div class="row">
            <div class="footer__top">
                <div class="footer__nav-container">
                    <div class="yCmsComponent footer__nav-list col-xs-12 col-sm-12 col-md-3">
                        <div class="content comp_0000FKZ9">
                            <div class="row">
                                <div class="col-xs-12 col-md-3">
                                    <div class="slogan">
                                        <a target="_blank" href="#">
                                            <div class="thumb  hidden-sm hidden-xs">&nbsp;</div>
                                        </a>
                                        <h1 class="title ">
                                            <span class="nav-click">
                                                <i class="nav-arrow"></i>
                                            </span>
                                            SuoiLanhMart
                                        </h1>
                                        <ul class="footer__nav-links">
                                            <li class="footer__link"><a href="/gioi-thieu-lpveadayroi?ref=homepage_footer" rel="nofollow">Giới thiệu</a></li>
                                            <li class="footer__link"><a href="#" target="_blank" rel="nofollow">Tuyển dụng</a></li>
                                            <li class="footer__link"><a href="/ma-giam-gia?ref=subpage_footer" rel="nofollow">Mã giảm giá SuoiLanhMart</a></li>
                                            <li class="footer__link"><a href="/dang-ky-ban-hang-cung-Adayroi-lpncc?ref=homepage_footer" rel="nofollow">Bán hàng cùng SuoiLanhMart</a></li>
                                            <li class="footer__link"><a href="/dieu-kien-dieu-khoan-lptc1?ref=homepage_footer" rel="nofollow">Điều khoản &amp; Điều kiện</a></li>
                                            <li class="footer__link"><a href="/bao-mat-thong-tin-lptc3?ref=homepage_footer" rel="nofollow">Quyền riêng tư</a></li>
                                            <li class="footer__link"><a href="/lp-contactUsPage?ref=homepage_footer" rel="nofollow">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="slogan left-0">
                                        <h3 class="title"><span class="nav-click"><i class="nav-arrow"></i></span>Tài khoản</h3>
                                        <ul class="footer__nav-links footer-link-register">
                                            <li class="footer__link"><a href="/cart?ref=homepage_footer" rel="nofollow">Giỏ hàng</a></li>
                                            <li class="footer__link"><a href="#" rel="nofollow">Tra cứu hóa đơn</a></li>
                                            <li class="footer__link"><a href="javascript:void(0);" class="js-sign-up__popup_button">Đăng ký</a></li>
                                            <li class="footer__link"><a href="javascript:void(0);" class="js-sign-in__popup">Đăng nhập</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="slogan left-0">
                                        <h3 class="title"><span class="nav-click"><i class="nav-arrow"></i></span>Chủ đề hỗ trợ</h3>
                                        <ul class="footer__nav-links chu-de-ho-tro">
                                            <li class="footer__link"><a href="/cau-hoi-thuong-gap-ve-tai-khoan-lpfaq1?ref=homepage_footer" rel="nofollow">Câu hỏi thường gặp</a></li>
                                            </br>
                                            <li class="footer__link"><a href="/chinh-sach-thanh-toan-lptc6?ref=homepage_footer" rel="nofollow">Thanh toán</a></li>
                                            <li class="footer__link"><a href="/lp-vinid?ref=homepage_footer" rel="nofollow">Tìm hiểu về SuoiLanhMart</a></li>
                                            </br>
                                            <li class="footer__link"><a href="/chinh-sach-giao-hang-lptc7?ref=homepage_footer" rel="nofollow">Giao hàng</a></li>
                                            <li class="footer__link"><a href="#" rel="nofollow" target="_blank">Tra cứu hóa đơn</a></li>
                                            </br>
                                            <li class="footer__link"><a href="/chinh-sach-doi-tra-lptc8?ref=homepage_footer" rel="nofollow">Đổi trả &amp; Bảo hành</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2 hidden-sm hidden-xs">
                                    <div class="slogan left-0">
                                        <h3 class="title">
                                            <span class="nav-click"><i class="nav-arrow"></i></span>
                                            <a href="#" rel="noopener" target="_blank"><div class="">&nbsp;</div></a>
                                        </h3>
                                        <ul class="footer__nav-links">
                                            <li class="footer__link"><a href="h#" rel="nofollow" target="_blank">Siêu thị SuoiLanhMart</a></li>
                                            <li class="footer__link"><a href="#" rel="nofollow" target="_blank">Blog SuoiLanhMart</a></li>
                                            <li class="footer__link"><a href="#" rel="noopener" target="_blank">SuoiLanhMart</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2 hidden-sm hidden-xs">
                                    <div class="slogan left-0 pull-right">
                                        <a target="_blank" href="#"><div class="iconFb thumb adr_bg_footer_facebook_logo">&nbsp;</div></a><br>
                                        <a href="#"><div class="iconInstagram thumb adr_bg_footer_instagram_logo">&nbsp;</div></a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content comp_0000FKZ9">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h3 class="title">Suoilanhmart:</h3>
                                    <li class="footer__link">
                                        <a>
                                            Địa chỉ: 51/14/7 Khu phố Bình Đường 3, phường An Bình, thị xã Dĩ An, Bình Dương.
                                        </a>
                                    </li>
                                    <li class="footer__link">
                                        <a>
                                            Điện thoại: 0274 3617029
                                        </a>
                                    </li>
                                    <li class="footer__link">
                                        <a>
                                            Website: suoilanhmart.com
                                        </a>
                                    </li>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h3 class="title">Newdaymart:</h3>
                                    <li class="footer__link">
                                        <a>
                                            Địa chỉ: 86 Lê Hồng Phong, thị trấn Ngãi Giao, huyện Châu Đức, Bà Rịa – Vũng Tàu
                                        </a>
                                    </li>
                                    <li class="footer__link">
                                        <a>
                                            Điện thoại: 02543883339
                                        </a>
                                    </li>
                                    <li class="footer__link">
                                        <a>
                                            Website: sieuthingaymoi.com
                                        </a>
                                    </li>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ins-banner-wrapper-c190">
        <div class="ins-banner-left">
            <div class="ins-banner-title">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</div>
            <div class="ins-banner-description">Hãy là người đầu tiên nhận ưu đãi hấp dẫn từ SuoiLanhMart</div>
        </div>
        <div class="ins-banner-center">
            <div class="ins-banner-success">
                <img src="https://media-ak.static-adayroi.com/sys_master/images/banner/png/vfF1HQRly4NcVnReChEN1543350643-min.png" class="ins-success-image">
                <div class="ins-banner-success-title">Chúc mừng bạn đã đăng ký thành công!</div>
                <div class="ins-banner-description">Chúng tôi sẽ gửi email cho bạn ngay hôm nay</div>
            </div>
            <div class="ins-banner-form">
                <div class="ins-banner-gift-box">
                    <img src="https://media-ak.static-adayroi.com/sys_master/images/banner/png/subscribe%20email-box-adayroi.png">
                    <div>   TẶNG BẠN<br> GIFTCODE 100K</div>
                </div>
                <div class="ins-banner-email-box">
                    <input type="email" id="ins-banner-email" class="ins-banner-input sp-custom-c190-1" placeholder="Nhập Email của bạn tại đây">
                    <div class="ins-error-message ins-input-error" id="ins-email-error">Vui lòng nhập email hợp lệ</div>
                </div>
            </div>
        </div>
        <div class="ins-banner-right">
            <div class="ins-banner-success">
                <div class="ins-banner-edit">
                    <div class="ins-banner-title">Email</div>
                    <div class="ins-user-email"></div>
                    <img src="https://image.useinsider.com/adayroi/c190/of7JKezoyleZ0qSgegkE1543353354.png" class="ins-edit-image sp-custom-c190-5">
                </div>
            </div>
            <div class="ins-banner-form">
                <div class="ins-banner-gender-box">
                    <input type="radio" class="ins-banner-input" id="ins-radio-button-nam" name="ins-gender" value="Nam">
                    <label for="ins-radio-button-nam" class="ins-gender-box-label ins-banner-input sp-custom-c190-2">Nam</label>
                    <input type="radio" class="ins-banner-input" id="ins-radio-button-nu" name="ins-gender" value="Nữ">
                    <label for="ins-radio-button-nu" class="ins-gender-box-label ins-banner-input sp-custom-c190-3">Nữ</label>
                    <div class="ins-error-message ins-input-error" id="ins-gender-error">Vui lòng chọn giới <br>tính</div>
                </div><div class="ins-banner-submit-box"><button class="ins-banner-input sp-custom-c190-4">Đăng ký ngay</button></div>
            </div>
        </div>
    </div>
</footer>



