<div class="header__links__segment_mega_menu__toggle">
    <div class="c-button--category ">
        <div class="c-icon hidden-sm hidden-xs">
            <!--<i class="polish-version-icon-all-department"></i>-->
            <i class="fas fa-bars"></i>
        </div>
        <span class="show-all">Danh mục</span>
    </div>
    <div class="header__links__segment_mega_menu__content">
        <div class="container">
            <div class="menu__cat hidden-xs hidden-sm">
                <div class="menu__cat-wrap">
                    <ul class="menu__cat-list menu__cat-list--parent">
                        <li class="menu__cat-item">
                            <a class="menu__cat-link" href="https://www.adayroi.com/voucher-dich-vu-c332500?itm_source=Menu_VATDV_CATE1_DV&amp;itm_medium=PC&amp;itm_campaign=VoucherAmThucDichVu" data-uid="navigationNode_000003UW">Thực phẩm - Đồ uống  </a>
                            <div class="menu__cat-list menu__cat-list--child">
                                <div class="menu__cat-hot-link">
                                    <a href="https://www.adayroi.com/am-thuc-ban-chay-lp32513?tabid=325134#325134?itm_source=Menu_VATDV_CATE2_DV&amp;itm_medium=PC&amp;itm_campaign=DealSoc199K">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">Deal Sốc &lt;199K</span>
                                            <i class="adr_bg_hot"></i>
                                        </h3>
                                    </a>
                                    <a href="/dv-buffet-cao-cap-lp7183">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">Buffet Cao Cấp 4* - 5*</span>
                                        </h3>
                                    </a>
                                    <a href="/am-thuc-c332551">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">Ẩm Thực Giá Sốc 50%</span>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/dat-cho-truc-tuyen-c3325113">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">Đặt bàn – Đặt chỗ trực tuyến 50% off</span>
                                        </h3>
                                    </a>
                                </div>
                                <hr>
                                <div class="sub-categories">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/buffet-c332566?itm_source=Menu_VATDV_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=Buffet" class="item-strong">Buffet</a>
                                                </h3><ul>
                                                    <li>
                                                        <a href="/buffet-bbq-c3325141?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=BuffetBBQ">Buffet BBQ</a>
                                                    </li>
                                                    <li>
                                                        <a href="/buffet-lau-nuong-c3325600278039?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=BuffetLauNuong">Buffet lẩu nướng</a>
                                                    </li>
                                                    <li>
                                                        <a href="/buffet-hai-san-c3325600278040?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=BuffetHaiSan">Buffet hải sản</a>
                                                    </li>
                                                    <li><a href="/Buffet-khach-san-5-sao-lp7019?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=BuffetSangTrong">Buffet sang trọng</a></li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/nha-hang-c332567?itm_source=Menu_VATDV_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=NhaHang" class="item-strong">
                                                        Nhà hàng
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/nha-hang-c332567?q=%3Arelevance%3AbuaAn%3AT%E1%BB%91i&amp;itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=NhaHangAnToi">
                                                            Nhà hàng ăn tối
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/nha-hang-c332567?q=%3Arelevance%3AbuaAn%3ATr%C6%B0a&amp;itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=NhaHangAnTrua">
                                                            Nhà hàng ăn trưa
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/nha-hang-c332567?q=%3Arelevance%3Arestaurant%3ANh%C3%A0+h%C3%A0ng+sang+tr%E1%BB%8Dng&amp;itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=NhaHangSangTrong">
                                                            Nhà hàng sang trọng
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/dat-cho-truc-tuyen-c3325113?itm_source=Menu_VATDV_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=DichVuDatChoTrucTuyen" class="item-strong">
                                                        Đặt chỗ trực tuyến
                                                    </a>
                                                </h3>
                                                <ul></ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/cafe-kem-banh-c332569?itm_source=Menu_VATDV_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=CafeKemBanh" class="item-strong">
                                                        Cafe - Kem - Bánh
                                                    </a>
                                                </h3>
                                                <ul></ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/suc-khoe-giai-tri-dich-vu-ho-tro-c332555?itm_source=Menu_VATDV_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=DealGiaiTri" class="item-strong">
                                                        Giải trí dịch vụ bán chạy
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/khu-vui-choi-giai-tri-c3325285?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=KhuVuiChoiGiaiTri">
                                                            Khu Vui Chơi, Giải Trí
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/vinid-lp367?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TheQuaTangVinID">
                                                            Thẻ quà tặng - VinID
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/spa-lam-dep-c332552?itm_source=Menu_VATDV_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=SpaLamDep" class="item-strong">
                                                        Spa, Làm đẹp, Phòng tập
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/spa-lam-dep-c332552?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=Spa">
                                                            Spa
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/hair-salon-lam-dep-c332574?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=HairSalon">
                                                            Hair salon
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/phong-tap-c332575?itm_source=Menu_VATDV_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=PhongTap">
                                                            Phòng tập
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-all-submenu">
                                    <hr>
                                    <a class="c-button--category-content" href="https://www.adayroi.com/voucher-dich-vu-c332500?itm_source=Menu_VATDV_CATE1_DV&amp;itm_medium=PC&amp;itm_campaign=VoucherAmThucDichVu">
                                        <div>
                                            <span>Xem tất cả Ẩm thực - Spa - Dịch vụ   </span>
                                        </div> <div class="c-icon">
                                            <i class="polish-version-icon-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="menu__cat-item">
                            <a class="menu__cat-link" href="https://www.adayroi.com/voucher-du-lich-vinpearl-c2130?itm_source=Menu_VDLKS_CATE1_DV&amp;itm_medium=PC&amp;itm_campaign=dulich_vinpearl" data-uid="navigationNode_000003UX">
                                Du lịch – Vinpearl
                            </a>
                            <div class="menu__cat-list menu__cat-list--child">
                                <div class="menu__cat-hot-link">
                                    <a href="https://www.adayroi.com/cam-ket-co-phong-30-thang-4-lp2404">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Top tour, khách sạn dịp lễ 30/4
                                            </span>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/dv-ky-nghi-ty-phu-thoi-gian-lp7127">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Nghỉ dưỡng Vinpearl - Ưu đãi tới 33%
                                            </span>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/dv-tour-nhat-han-hoa-anh-dao-lp7114">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Tour Nhật - Hàn ngắm hoa anh đào
                                            </span>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/dv-vinpearl-bung-no-uu-dai-30-04-lp7118">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Ưu đãi nghỉ dưỡng Vinpearl 30/4
                                            </span>
                                        </h3>
                                    </a>
                                </div>
                                <hr>
                                <div class="sub-categories">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/vinpearl-resorts-hotels-c3325600203004?itm_source=Menu_VDLKS_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=VinpearlResortsHotels" class="item-strong">
                                                        Vinpearl Resort &amp; Hotel
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/vinpearl-phu-quoc-c3325600203006?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VinpearlPhuQuoc">
                                                            Phú Quốc
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/vinpearl-nha-trang-c3325600203007?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VinpearlNhaTrang">
                                                            Nha Trang
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/vinpearl-ha-long-c3325600203008?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VinpearlHaLong">
                                                            Hạ Long
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/vinpearl-da-nang-c3325600203015?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VinpearlDaNang">
                                                            Đà Nẵng
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/vinpearl-hoi-an-c3325600203016?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VinpearlHoiAn">
                                                            Hội An
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/khach-san-resort-c624001?itm_source=Menu_VDLKS_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=KhachSanResort" class="item-strong">
                                                        Khách sạn/ Resort
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/khach-san-resort-mien-bac-c621129?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=KhachSanMienBac">
                                                            Miền Bắc
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/khach-san-resort-mien-trung-c621130?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=KhachSanMienTrung">Miền Trung</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/khach-san-resort-mien-nam-c621131?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=KhachSanMienNam">
                                                            Miền Nam
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/tour-du-lich-trong-nuoc-c332596?itm_source=Menu_VDLKS_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=TourTrongNuoc" class="item-strong">
                                                        Tour du lịch trong nước
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tour-mien-bac-c621132?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourMienBac">
                                                            Tour miền Bắc
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tour-mien-trung-c621133?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourMienTrung">
                                                            Tour miền Trung
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tour-mien-nam-c621134?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourMienNam">
                                                            Tour miền Nam
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/tour-du-lich-nuoc-ngoai-c332597?itm_source=Menu_VDLKS_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=TourNuocNgoai" class="item-strong">
                                                        Tour du lịch nước ngoài
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tour-chau-a-c621135?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourChauA">
                                                            Tour Châu Á
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tour-du-lich-chau-au-c3325536?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourChauAu">
                                                            Tour Châu Âu
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tour-du-lich-my-chau-my-c3325537?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourChauMy">
                                                            Tour Châu Mỹ
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/diem-den-nuoc-ngoai-khac-c621136?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=TourNuocNgoaiKhac">
                                                            Điểm đến nước ngoài khác
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/tu-van-visa-thi-thuc-c3325555?itm_source=Menu_VDLKS_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=TuVanVisa" class="item-strong">
                                                        Dịch vụ tư vấn Visa
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/visa-xuat-canh-chau-a-c3325556?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VisaChauA">
                                                            Visa Châu Á
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/visa-xuat-canh-chau-au-c3325557?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VisaChauAuPhi">
                                                            Visa Châu Âu - Phi
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/visa-cac-nuoc-khac-c621137?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=VisaCacNuocKhac">
                                                            Visa các nước khác
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/dich-vu-khac-c630102?itm_source=Menu_VDLKS_CATE3_DV&amp;itm_medium=PC&amp;itm_campaign=DichVuDuLichKhac" class="item-strong">
                                                        Dịch vụ khác
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/boat-cruise-c332563?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=DuThuyen">
                                                            Tour du thuyền
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/cho-thue-xe-du-lich-nguyen-chuyen-c332564?itm_source=Menu_VDLKS_CATE4_DV&amp;itm_medium=PC&amp;itm_campaign=XeVanChuyen">
                                                            Xe vận chuyển
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-all-submenu">
                                    <hr>
                                    <a class="c-button--category-content" href="https://www.adayroi.com/voucher-du-lich-vinpearl-c2130?itm_source=Menu_VDLKS_CATE1_DV&amp;itm_medium=PC&amp;itm_campaign=dulich_vinpearl">
                                        <div>
                                            <span>
                                                Xem tất cả Du lịch – Vinpearl
                                            </span>
                                        </div>
                                        <div class="c-icon">
                                            <i class="polish-version-icon-arrow-right">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="menu__cat-item">
                            <a class="menu__cat-link" href="https://www.adayroi.com/dich-vu-cham-soc-suc-khoe-bao-hiem-c3325581?itm_source=Menu_CSSK_CATE1_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ChamSocSucKhoe" data-uid="VerticalMegaNodeMenu6"
                               data-image1-url="https://media-ak.static-adayroi.com/sys_master/h39/h9b/9232688807966.jpg" data-image1-alt="" data-image2-url="https://media-ak.static-adayroi.com/sys_master/h21/h38/9232691527710.jpg"
                               data-image3-url="https://media-ak.static-adayroi.com/sys_master/h12/h38/9232827187230.jpg" data-image4-url="https://media-ak.static-adayroi.com/sys_master/h8a/hf2/9232828301342.jpg"
                               data-image5-url="https://media-ak.static-adayroi.com/sys_master/hcf/h38/9232828891166.jpg" data-image6-url="https://media-ak.static-adayroi.com/sys_master/h2a/h3a/9232829153310.jpg"
                               data-image7-url="https://media-ak.static-adayroi.com/sys_master/h9a/h85/9232830791710.jpg">
                                Chăm sóc sức khỏe
                            </a>
                            <div class="menu__cat-list menu__cat-list--child">
                                <div class="menu__cat-hot-link">
                                    <a href="https://www.adayroi.com/vinmec-prepaid-lp700011">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Vinmec Prepaid
                                            </span>
                                            <i class="adr_bg_hot2">
                                            </i>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/bao-hiem-suc-khoe">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Bảo Hiểm Sức Khỏe
                                            </span>
                                            <i class="adr_bg_hot">
                                            </i>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/thiet-bi-massage-toan-than-lp6722">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Massage toàn thân
                                            </span>
                                            <i class="adr_bg_hot">
                                            </i>
                                        </h3>
                                    </a>
                                    <a href="https://www.adayroi.com/thuc-pham-chuc-nang-thai-doc-co-the-lp6802">
                                        <h3 class="have__hot-icon">
                                            <span class="infor-sale">
                                                Giảm cân – Thải độc
                                            </span>
                                            <i class="adr_bg_sale_50">
                                            </i>
                                        </h3>
                                    </a>
                                </div>
                                <hr>
                                <div class="sub-categories">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/benh-vien-vinmec-c3325600100058147?itm_source=Menu_CSSK_CATE3_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BenhVienVinmec" class="item-strong">
                                                        Bệnh viện Vinmec
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/dich-vu-thai-san-tron-goi-c3325570?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ThaiSanTronGoi">
                                                            Thai Sản Trọn Gói
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/the-bao-hiem-vinmec-c3325572?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=TheBaoHiemVinmec">
                                                            Thẻ bảo hiểm Vinmec - Bảo Việt
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/kham-tong-quat-c3325568?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=GoiKhamTongQuat">
                                                            Khám sức khỏe tổng quát
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/dich-vu-luu-tru-mau-cuong-ron-c3325571?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=LuuTruMauCuongRon">
                                                            Lưu trữ máu cuống rốn
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/sang-loc-ung-thu-c3325575?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=SangLocUngThu">
                                                            Sàng lọc ung thư
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/bao-hiem-c3325228?itm_source=Menu_CSSK_CATE3_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BaoHiem" class="item-strong">
                                                        Bảo hiểm
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/bao-hiem-suc-khoe?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BaoHiemSucKhoe">
                                                            Bảo hiểm sức khỏe
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/bao-hiem-thai-san-c332560049023?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BaoHiemThaiSan">
                                                            Bảo hiểm thai sản
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/bao-hiem-nha-va-chung-cu-c332560049065?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BaoHiemNhaChungCu">
                                                            Bảo hiểm nhà và chung cư
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/bao-hiem-ung-thu-va-benh-hiem-ngheo-c332560049063?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BaoHiemungthu">
                                                            Bảo hiểm ung thư &amp; bệnh hiểm nghèo
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/bao-hiem-du-lich-c3325108?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=BaoHiemdulich">
                                                            Bảo hiểm du lịch
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/thuc-pham-chuc-nang-c332560097188122?itm_source=Menu_CSSK_CATE3_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ThucPhamChucNang" class="item-strong">
                                                        Thực phẩm chức năng
                                                    </a>
                                                </h3>
                                                <ul></ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/cham-soc-suc-khoe-c332580?itm_source=Menu_CSSK_CATE3_Vinmec&amp;itm_medium=PC&amp;itm_campaign=DVKhamChuaBenh" class="item-strong">
                                                        Dịch vụ khám chữa bệnh
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/kham-tong-quat-c3325372?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=KhamSucKhoeTongQuat">
                                                            Khám sức khỏe tổng quát
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/goi-sang-loc-ung-thu-c3325229?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=SangLocUngThu">
                                                            Sàng lọc ung thư
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/nha-khoa-c3325294?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=NhaKhoaThamMy">
                                                            Nha khoa thẩm mỹ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/dung-cu-thiet-bi-y-te-c250?itm_source=Menu_CSSK_CATE3_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ThietBiYTe" class="item-strong">
                                                        Thiết bị y tế
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/may-do-huyet-ap-c252?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=MayDoHuyetAp">
                                                            Máy đo huyết áp
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/can-suc-khoe-c257?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=CanSucKhoe">
                                                            Cân sức khỏe
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/may-massage-chan-c3325600174461012?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=MayMassage">
                                                            Máy massage
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="sub-categories-item">
                                                <h3 class="h3-style">
                                                    <a href="https://www.adayroi.com/tham-my-c3325547?itm_source=Menu_CSSK_CATE3_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ThamMyVaChamSocLamDep" class="item-strong">
                                                        Thẩm mỹ &amp; Làm đẹp
                                                    </a>
                                                </h3>
                                                <ul>
                                                    <li>
                                                        <a href="https://www.adayroi.com/tham-my-c3325547?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ThamMy">
                                                            Thẩm mỹ
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.adayroi.com/cham-soc-me-bau-va-sau-sinh-c332560032009?itm_source=Menu_CSSK_CATE4_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ChamSocMeBauVaSauSinh">
                                                            Chăm sóc mẹ bầu &amp; sau sinh
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-all-submenu">
                                    <hr>
                                    <a class="c-button--category-content" href="https://www.adayroi.com/dich-vu-cham-soc-suc-khoe-bao-hiem-c3325581?itm_source=Menu_CSSK_CATE1_Vinmec&amp;itm_medium=PC&amp;itm_campaign=ChamSocSucKhoe">
                                        <div>
                                            <span>
                                                Xem tất cả Chăm sóc sức khỏe
                                            </span>
                                        </div>
                                        <div class="c-icon">
                                            <i class="polish-version-icon-arrow-right">
                                            </i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="space-white"></span>
</div>