
@{
    ViewBag.Title = "collagen_vinh_hoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-pros" class="container-fluid" style="background-color:white">

    <div class="jumbotron text-center">
        <h1> COLLAGEN VĨNH HOÀN</h1>
        <p>Thực phẩm chăm sóc sức khỏe và sắc đẹp</p>
    </div>

    <div class="container-fluid">
        

        <div class="col-xs-12 col-md-3">
        </div>

        <div class="col-xs-12 col-md-6">
            <p class="text-justify font-weight-lighter" style="font-size:larger">
                Collagen Vĩnh Hoàn chiết xuất 100% từ da cá, lần đầu tiên được sản xuất tại Việt Nam từ nguồn nguyên liệu có nguồn gốc rõ ràng. Chất lượng collagen được kiểm soát trong suốt quá trình sản xuất, tương đương sản phẩm cùng loại từ Nhật Bản và châu  u.
                Sản phẩm Collagen Vĩnh Hoàn chiết xuất có dạng bột trắng tự nhiên, dễ hòa tan trong nước, không mùi không vị.
                Collagen Vĩnh Hoàn có nguồn gốc từ cá tra nước ngọt (pangasius hypophthalmus), một loài cá sinh sống ở khí hậu nhiệt đới. Hàm lượng các axit amin có lợi  trong loài cá này khá cao, chiếm hơn 50% như: glycine, proline và hydroxyproline…
                Cùng so sánh thành phần của Collagen Vĩnh Hoàn so với các loại Collagen khác có nguồn trâu bò hoặc lợn, cũng như các nguồn cá khác: Collagen Vĩnh Hoàn có độ hòa tan cao và 100% tự nhiên, không chứa màu nhân tạo, hương vị, chất phụ gia hoặc chất bảo quản. Nó cũng không chứa chất béo, carbs, đường và cholesterol. Không giống như collagen từ cá biển, Collagen Vĩnh Hoàn có hàm lượng natri thấp.
                Collagen Vĩnh Hoàn giúp tăng cường sức khỏe như: duy trì mô liên kết, xây dựng cơ bắp, tăng cường cấu trúc khớp. Trong dinh dưỡng, Collagen Vĩnh Hoàn phù hợp để bổ sung axit amin, kiểm soát cân nặng, kết hợp với các thực phẩm khác giúp ngăn ngừa nếp nhăn và thúc đẩy làn da khỏe mạnh, mượt mà hơn, trẻ trung... Đối với ngành làm đẹp,  Collagen Vĩnh Hoàn giúp cải thiện độ đàn hồi của da, tăng cường khả năng hấp thụ nước, hỗ trợ giảm nếp nhăn...
            </p>

        </div>
        <div class="col-xs-12 col-md-3">
        </div>
        <div class="col-xs-12 col-md-12">
            <img src="~/image/Product/mat sau to roi.jpg" width="100%" />
        </div>
    </div>


   
</section>

