
@{
    ViewBag.Title = "mat_ong_tracybee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-pros" class="container-fluid" style="background-color:white" >
    <div class="jumbotron text-center">
        <h1> Mật ong Tracybee</h1>
        <p>Sự đam mê và chân thành sẽ không bao giờ cạn trong trái tim của những người làm nên thương hiệu Tracybee vì hạnh phúc lớn nhất của chúng tôi là mang đến sức khỏe và niềm vui cho người tiêu dùng Việt Nam.</p>
    </div>
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d7d455fa25.jpg" id="iimg" rel="28" alt="KEO ONG XANH BRAZIL VỊ BẠC HÀ DẠNG XỊT HỖ TRỢ TRỊ VIÊM HỌNG, HO " style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                    <div class="row" style="margin:10px 0px;">
                        <img src="http://tracybee.vn/public/upload/images/596db48d0f948.jpg" id="iimg" rel="28" alt="KEO ONG XANH BRAZIL VỊ BẠC HÀ DẠNG XỊT HỖ TRỢ TRỊ VIÊM HỌNG, HO " style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/5a150156525cd.jpg" id="img28" class="img-responsive" alt="KEO ONG XANH BRAZIL VỊ BẠC HÀ DẠNG XỊT HỖ TRỢ TRỊ VIÊM HỌNG, HO " style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">KEO ONG XANH BRAZIL VỊ BẠC HÀ DẠNG XỊT HỖ TRỢ TRỊ VIÊM HỌNG, HO </p>
                    <div class="pro-weight">
                        <span>30ml</span>
                        <span class="price">275,000 VNĐ</span>
                        <button id="order" rel="28" rel1="30ml" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    Thành phần: Keo ong, vị bạc hà tự nhiên, mật ong, nước…<br>
                    <br>
                    Công dụng: Bổ sung kháng thể tự nhiên của keo ong, giúp hạn chế quá trình oxy hóa, giúp kháng khuẩn trong khoang miệng và đường hô hấp: viêm họng, ho, cảm cúm...<br>
                    <br>
                    Đối tượng sử dụng:Trẻ em trên 24 tháng tuổi và người trưởng thành.<br>
                    <br>
                    Bảo quản: Bảo quản nơi sạch sẽ, thoáng mát, tránh tiếp xúc trực tiếp với ánh nắng mặt trời.<br>
                    &nbsp;<br>
                    Thời hạn sử dụng: 2 năm kể từ ngày sản xuất<br>
                    &nbsp;<br>
                    <br>
                    &nbsp;						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse28" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse28" class="panel-collapse collapse" aria-expanded="false">
                        Không sử dụng cho người mẫn cảm, dị ứng với các thành phần của keo ong. Trẻ em dưới 24 tháng tuổi, phụ nữ mang thai hoặc cho con bú khi sử dụng phải có chỉ định của bác sĩ.<br>
                        <br>
                        Hướng dẫn sử dụng: xịt 3-4 lần vào miệng/lần, sử dụng được nhiều lần khi cần hoặc để vệ sinh miệng và cổ họng mỗi ngày. Lắc đều trước khi sử dụng. Sử dụng đều sau 30 phút để tăng hiệu quả.<br>
                        <br>
                        <em>Chú ý: Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh.</em>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d7ed829c6f.jpg" id="iimg" rel="29" alt="KEO ONG XANH BRAZIL VỊ TRÁI CÂY DẠNG XỊT HỖ TRỢ TRỊ HO, VIÊM HỌNG TRẺ EM" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                    <div class="row" style="margin:10px 0px;">
                        <img src="http://tracybee.vn/public/upload/images/596db4267696a.jpg" id="iimg" rel="29" alt="KEO ONG XANH BRAZIL VỊ TRÁI CÂY DẠNG XỊT HỖ TRỢ TRỊ HO, VIÊM HỌNG TRẺ EM" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/5a1501d965398.jpg" id="img29" class="img-responsive" alt="KEO ONG XANH BRAZIL VỊ TRÁI CÂY DẠNG XỊT HỖ TRỢ TRỊ HO, VIÊM HỌNG TRẺ EM" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">KEO ONG XANH BRAZIL VỊ TRÁI CÂY DẠNG XỊT HỖ TRỢ TRỊ HO, VIÊM HỌNG TRẺ EM</p>
                    <div class="pro-weight">
                        <span>30ml</span>
                        <span class="price">275,000 VNĐ</span>
                        <button id="order" rel="29" rel1="30ml" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    <div style="text-align: justify;">
                        <span style="color:#000000">
                            <span style="font-size:12px">
                                <span style="font-family:arial,sans-serif">Làm sao để chúng ta hạn chế sử dụng kháng sinh cho con cái và gia đình khi chưa cần thiết: viêm họng, ho, cảm cúm…?</span><br>
                                <span style="font-family:arial,sans-serif">Keo ong là một lớp kháng khuẩn tự nhiên do con ong tạo nên nhằm bảo vệ đàn ong khỏi vi khuẩn gây bệnh. Keo ong xanh Brazil đã được chứng minh khoa học về đặc tính kháng khuẩn, kháng nấm, kháng virus, chống oxy hoá, tăng sức đề kháng, phòng ngừa ung thư vượt trội.</span>
                            </span>
                        </span>
                    </div>

                    <div style="text-align: justify;">&nbsp;</div>

                    <div style="text-align: justify;">
                        <span style="font-size:12px">
                            <span style="color:#000000">
                                <span style="font-family:arial,sans-serif">Thành phần: Keo ong, vị trái cây&nbsp;tự nhiên, mật ong, nước…</span><br>
                                <br>
                                <span style="font-family:arial,sans-serif">Công dụng: Bổ sung kháng thể tự nhiên của keo ong, giúp hạn chế quá trình oxy hóa, giúp kháng khuẩn trong khoang miệng và đường hô hấp.</span><br>
                                <br>
                                <span style="font-family:arial,sans-serif">Đối tượng sử dụng:Trẻ em trên 12&nbsp;tháng tuổi và người trưởng thành.</span><br>
                                <br>
                                Bảo quản: Bảo quản nơi sạch sẽ, thoáng mát, tránh tiếp xúc trực tiếp với ánh nắng mặt trời.
                            </span><br>
                            &nbsp;<br>
                            Thời hạn sử dụng: 2 năm kể từ ngày sản xuất
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse29" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse29" class="panel-collapse collapse" aria-expanded="false">
                        <span style="color:#000000">
                            Không sử dụng cho người mẫn cảm, dị ứng với các thành phần của keo ong. Trẻ em dưới 12&nbsp;tháng tuổi, phụ nữ mang thai hoặc cho con bú khi sử dụng phải có chỉ định của bác sĩ.<br>
                            <br>
                            Hướng dẫn sử dụng: xịt 3-4 lần vào miệng/lần, sử dụng được nhiều lần khi cần hoặc để vệ sinh miệng và cổ họng mỗi ngày. Lắc đều trước khi sử dụng. Sử dụng đều sau 30 phút để tăng hiệu quả.<br>
                            &nbsp;<br>
                            <em>Chú ý: Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh.</em>
                        </span><br>
                        &nbsp;
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/5a94c0f195796.jpg" id="img30" class="img-responsive" alt="KEO ONG XANH BRAZIL DẠNG VIÊN HỖ TRỢ TRỊ VIÊM HỌNG, HO, CẢM SỐT NGƯỜI LỚN VÀ TRẺ EM" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">KEO ONG XANH BRAZIL DẠNG VIÊN HỖ TRỢ TRỊ VIÊM HỌNG, HO, CẢM SỐT NGƯỜI LỚN VÀ TRẺ EM</p>
                    <div class="pro-weight">
                        <span>30 viên</span>
                        <span class="price">176,000 VNĐ</span>
                        <button id="order" rel="30" rel1="30 viên" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    Keo ong viên đậm đặc 30%<br>
                    &nbsp;<br>
                    Sử dụng trong trường hợp bệnh trở nặng: cảm cúm, ho, viêm họng... lâu ngày<br>
                    &nbsp;<br>
                    Thành phần: Chiết xuất keo ong, Vitamin C, Vitamin E, Polyethylene glicol 400 và Glycerin.<br>
                    &nbsp;<br>
                    Công dụng: Bổ sung kháng thể tự nhiên của keo ong, giúp hạn chế quá trình Oxy hóa, giúp kháng khuẩn đường hô hấp.<br>
                    <br>
                    <span style="font-size:12px"><span style="font-family:arial,sans-serif">100% NGUYÊN LIỆU NHẬP KHẨU TỪ BRAZIL</span></span><br>
                    &nbsp;						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse30" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse30" class="panel-collapse collapse" aria-expanded="false">
                        <span style="font-size:12px">
                            <span style="font-family:arial,sans-serif">Hướng dẫn sử dụng: uống trực tiếp. Người lớn dùng 2 viên/lần, mỗi ngày 3 lần. Trẻ em dùng 1 viên/lần, mỗi ngày dùng 2 lần. Có thể cắn nhẹ để dung dịch sát khuẩn vòm họng và đạt hiệu quả nhanh.</span><br>
                            <span style="font-family:arial,sans-serif">
                                &nbsp;<br>
                                Chống chỉ định: Không dùng cho người có tiền sử dị ứng keo ong. Không dùng cho trẻ em dưới 36 tháng tuổi.<br>
                                &nbsp;<br>
                                <em><span style="font-family:arial,sans-serif">Lưu ý: Sản phẩm không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh.</span></em>
                            </span>
                        </span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d8693acebb.jpg" id="iimg" rel="11" alt="MẬT ONG HOA TỰ NHIÊN TỪ HOA CAFE" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/596d84ebd1adf.jpg" id="img11" class="img-responsive" alt="MẬT ONG HOA TỰ NHIÊN TỪ HOA CAFE" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">MẬT ONG HOA TỰ NHIÊN TỪ HOA CAFE</p>
                    <div class="pro-weight">
                        <span>600ml</span>
                        <span class="price">231,000 VNĐ</span>
                        <button id="order" rel="11" rel1="600ml" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    <div style="text-align: justify;">
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Mật ong hoa cafe từ cao nguyên trong lành, thanh thoát như những bông hoa trắng muốt tỏa hương thơm cả một vùng trời bất tận. Mật ong từ hoa cafe là đặc sản của mùa xuân cao nguyên. Mật ong hoa cafe có hương thơm nhẹ nhàng, tinh tế và quyến rũ vô cùng.&nbsp;</span><span style="font-size:14px">Đây là món quà dành tặng cho bạn, những người yêu mến hương vị thiên nhiên, quan tâm đến sức khoẻ và chất lượng cuộc sống.</span><br>
                        <br>
                        <br>
                        <strong>TIÊU CHUẨN CHẤT LƯỢNG:</strong><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Hàm lượng nước: dưới 20%</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Màu sắc: màu hỗ phách sáng</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Chất lượng: 100% nguyên chất và sạch, đạt tiêu chuẩn xuất khẩu sang thị trường Mỹ, Châu Âu. &nbsp;</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Đóng gói: chai thủy tinh 600ml, lọ 380ml, lọ 189ml sang trọng, tinh tế.</span><br>
                        &nbsp;
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse11" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse11" class="panel-collapse collapse" aria-expanded="false">
                        <strong>1. Ăn trực tiếp:</strong><span style="font-size:14px">&nbsp;ngậm một muỗng cafe mật ong khi bị khô cổ hoặc ho khan để nhanh chóng giảm cơn ho.</span><br>
                        <strong>2. Giảm cân:</strong><span style="font-size:14px">&nbsp;1 muỗng canh mật ong+ 1/4 trái chanh + 150ml nước ấm uống trước bữa ăn sáng (hoặc 1 giờ sau khi ăn) giúp giảm mỡ máu, mỡ thừa, giảm đau dạ dày, làm mát cơ thể giúp da hồng hào, trắng mịn.</span><br>
                        <strong>3. Nấu ăn:</strong><span style="font-size:14px">&nbsp;Dùng làm gia vị món nướng, trộn salad, tôm rim, thịt bò xào... để giúp hấp thu dinh dưỡng tốt hơn.</span><br>
                        <strong>4. Dưỡng da:</strong><span style="font-size:14px">&nbsp;Kết hợp với cái loại trái cây hoặc sữa chua để đắp mặt</span><br>
                        <span style="font-size:14px">5. Pha thức uống: kết hợp với cam, chanh, chanh dây, nước ép trái cây, trà xanh... bổ sung vitamin cho cơ thể, tăng sức đề kháng&nbsp;</span><br>
                        <br>
                        <span style="font-size:14px">LƯU Ý KHÔNG BẢO QUẢN LẠNH.</span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d869dddbde.jpg" id="iimg" rel="23" alt="MẬT ONG TỰ NHIÊN TỪ HOA CHÔM CHÔM" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/596d844951e5d.jpg" id="img23" class="img-responsive" alt="MẬT ONG TỰ NHIÊN TỪ HOA CHÔM CHÔM" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">MẬT ONG TỰ NHIÊN TỪ HOA CHÔM CHÔM</p>
                    <div class="pro-weight">
                        <span>600ml</span>
                        <span class="price">253,000 VNĐ</span>
                        <button id="order" rel="23" rel1="600ml" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    <div style="text-align: justify;">
                        Mật ong hoa chôm chôm được chọn lọc từ vùng Đông Nam Bộ Việt Nam. Hoa chôm chôm mang lại hương vị đậm đà, mạnh mẽ, cuốn hút và rất khác biệt cho mật ong này. Đây là món quà dành tặng cho bạn, những người yêu mến hương vị thiên nhiên, quan tâm đến sức khoẻ và chất lượng cuộc sống.<br>
                        <br>
                        <strong>TIÊU CHUẨN CHẤT LƯỢNG:</strong><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Hàm lượng nước: dưới 20%</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Màu sắc: màu hỗ phách</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Chất lượng: 100% nguyên chất và sạch, đạt tiêu chuẩn xuất khẩu sang thị trường Mỹ, Châu Âu. &nbsp;</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">- Đóng gói: chai thủy tinh 600ml, lọ 380ml, lọ 189ml sang trọng, tinh tế.</span>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse23" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse23" class="panel-collapse collapse" aria-expanded="false">
                        <strong>1. Ăn trực tiếp:</strong><span style="font-size:14px">&nbsp;ngậm một muỗng cafe mật ong khi bị khô cổ hoặc ho khan để nhanh chóng giảm cơn ho.</span><br>
                        <strong>2. Giảm cân:</strong><span style="font-size:14px">&nbsp;1 muỗng canh mật ong+ 1/4 trái chanh + 150ml nước ấm uống trước bữa ăn sáng (hoặc 1 giờ sau khi ăn) giúp giảm mỡ máu, mỡ thừa, giảm đau dạ dày, làm mát cơ thể giúp da hồng hào, trắng mịn.</span><br>
                        <strong>3. Nấu ăn:</strong><span style="font-size:14px">&nbsp;Dùng làm gia vị món nướng, trộn salad, tôm rim, thịt bò xào... để giúp hấp thu dinh dưỡng tốt hơn.</span><br>
                        <strong>4. Dưỡng da:</strong><span style="font-size:14px">&nbsp;Kết hợp với cái loại trái cây hoặc sữa chua để đắp mặt</span><br>
                        <span style="font-size:14px">5. Pha thức uống: kết hợp với cam, chanh, chanh dây, nước ép trái cây, trà xanh... bổ sung vitamin cho cơ thể, tăng sức đề kháng&nbsp;</span><br>
                        <br>
                        <span style="font-size:14px">LƯU Ý KHÔNG BẢO QUẢN LẠNH.</span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d859c92ded.jpg" id="iimg" rel="27" alt="PHẤN HOA " style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/596d86be8cbb5.jpg" id="img27" class="img-responsive" alt="PHẤN HOA " style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">PHẤN HOA </p>
                    <div class="pro-weight">
                        <span>230gr</span>
                        <span class="price">85,000 VNĐ</span>
                        <button id="order" rel="27" rel1="230gr" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    Phấn hoa là sản phẩm giàu dinh dưỡng từ thành quả lao động của những chú ong siêng năng. Phấn hoa rất giàu vitamin và khoáng chất, các chất dinh dưỡng cần thiết giúp tái tạo tế bào não, tạo giấc ngủ sâu, làm chậm quá trình lão hoá, cân bằng trao đổi chất...<br>
                    <br>
                    <strong>TIÊU CHUẨN CHẤT LƯỢNG:</strong><br>
                    - Màu sắc: Màu vàng nhạt, vàng đậm, cam<br>
                    - Nguồn: Hoa cafe, hoa trà, hoa trinh nữ, hoa cỏ dại.<br>
                    - Chất lượng: Được sấy khô, diệt khuẩn<br>
                    - Đóng gói: Lọ thủy tinh 230 gram hoặc.<br>
                    <br>
                    ĐỐI TƯỢNG SỬ DỤNG:<br>
                    - Phù hợp cho những người mất ngủ, mệt mỏi, suy nhược cơ thể, người bị tai biến đang trong quá trình phục hồi.<br>
                    - Người cao huyết áp, tiểu đường.<br>
                    - Những người có nhu cầu làm đẹp da, chống lão hoá.<br>
                    - Trẻ em thiếu dinh dưỡng, biếng ăn.<br>
                    &nbsp;						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse27" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse27" class="panel-collapse collapse" aria-expanded="false">
                        Một muỗng cafe (5gram) pha chung với nước ấm uống trước khi ngủ 1 tiếng.<br>
                        Trẻ em từ 5 đến 10 tuổi sử dụng một muỗng cafe nhỏ (3gram) mỗi ngày với nước ấm và một muỗng mật ong.<br>
                        <br>
                        (*) KHÔNG PHÙ HỢP VỚI NHỮNG NGƯỜI BỊ DỊ ỨNG PHẤN HOA.<br>
                        &nbsp;
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d85516a00c.jpg" id="iimg" rel="12" alt="SỮA ONG CHÚA" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                    <div class="row" style="margin:10px 0px;">
                        <img src="http://tracybee.vn/public/upload/images/596d872a15bbb.jpg" id="iimg" rel="12" alt="SỮA ONG CHÚA" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/596d872a1598d.jpg" id="img12" class="img-responsive" alt="SỮA ONG CHÚA" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">SỮA ONG CHÚA</p>
                    <div class="pro-weight">
                        <span>100gr</span>
                        <span class="price">190,000 VNĐ</span>
                        <button id="order" rel="12" rel1="100gr" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Sữa ong chúa là thức ăn của ong chúa. Sữa ong chúa đóng vai trò là dinh dưỡng đặc biệt giúp ong chúa lớn hơn gấp hai lần và sống lâu hơn nhiều lần so với ong thợ cùng gen và cùng thời điểm sinh sản. Chứa nhiều loại axit amin, vitamin và khoáng chất, axit pantothenic, 10-hydroxy-2decenoic axit (10-HDA)... giúp bồi bổ sức khỏe và làm đẹp da, làm chậm quá trình lão hoá. Sữa ong chúa tươi Tracybee thu hoạch từ hệ thống trang trại của công ty được trang bị hệ thống đông lạnh tại chỗ nên đảm bảo độ tươi nguyên và dinh dưỡng tốt nhất của sữa ong chúa.</span><br>
                    <br>
                    <strong>TIÊU CHUẨN CHẤT LƯỢNG:</strong><br>
                    <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Màu sắc: vàng nhạt</span><br>
                    <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Chất lượng: Tươi và 100% nguyên chất, giàu DHA (&gt; 1.8%)</span><br>
                    <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Đóng gói: Lọ thủy tinh 100gr, 200gr.</span>						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse12" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse12" class="panel-collapse collapse" aria-expanded="false">
                        1.&nbsp;<strong>Uống với nước ấm</strong>: 1 muỗng cafe sữa ong chúa + 100ml nước ấm (có thể thêm 1 muỗng cafe mật ong để dễ uống hơn). Dùng 1 giờ sau bữa ăn sáng vào mỗi ngày. Cách dùng này rất hiệu quả vì sữa ong chúa được hấp thụ tuyệt đối và rất dễ chịu đối với tất cả mọi người.<br>
                        &nbsp;<br>
                        2.&nbsp;<strong>Ngậm trực tiếp</strong>&nbsp;để chữa viêm họng và phòng ngừa ung thư vòm họng: cho một muỗng cafe sữa ong chúa đã tan đá vào miệng ngậm chừng 10 giây rồi mới nuốt từ từ để sữa ong chúa có thời gian sát trùng vùng bị viêm. Khi có dấu hiệu vị viêm họng nên dùng ngay và chỉ sau 3-4 lần là khỏi (mỗi ngày ngậm 2 lần).<br>
                        &nbsp;<br>
                        3.&nbsp;<strong>Tẩy tế bào chết</strong>: Dùng sữa ong chúa đắp trực tiếp lên da từ 10-15 phút. Khi sữa ong chúa đã khô cứng, lấy bọt biển, khăn mùng mịn thấm nước và vắt ráo massage lại cho sữa mềm trở lại và thấm đều vào da từ 1-2 phút. Sau đó rửa lại bằng nước lạnh. Da sẽ sạch và mềm mịn một cách bất ngờ.<br>
                        &nbsp;<br>
                        4.&nbsp;<strong>Mặt nạ dưỡng da</strong>: 1/2 muỗng sữa ong chúa + 1 trái sơ ri ép lấy nước (có thể thay thế bằng trái cây khác) + 3 giọt mật ong , đắp lên mặt từ 15-20 phút rồi rửa lại bằng nước lạnh. Thực hiện 2 lần/ tuần.<br>
                        &nbsp;<br>
                        5.&nbsp;<strong>Sữa rửa mặt tự nhiên</strong>: pha 2 phần mật ong + 1 phần sữa ong chúa trộn đều để làm sữa rửa mặt hằng ngày (nên trộn một mỗi lần cho 7 ngày dùng). Thực hiện 2 lần/ngày.<br>
                        &nbsp;<br>
                        <strong>Bảo quản:</strong>&nbsp;Bảo quản ở nhiệt độ dưới 0 độ C (trong ngăn đá tủ lạnh. Khi đã pha với mật ong có thể bảo quản trong ngăn mát tủ lạnh)
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/56a22e2697969.jpg" id="iimg" rel="24" alt="Hộp quà đôi" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                    <div class="row" style="margin:10px 0px;">
                        <img src="http://tracybee.vn/public/upload/images/56a22e2697beb.jpg" id="iimg" rel="24" alt="Hộp quà đôi" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                    <div class="row" style="margin:10px 0px;">
                        <img src="http://tracybee.vn/public/upload/images/596d886375f11.jpg" id="iimg" rel="24" alt="Hộp quà đôi" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/56a22e2697665.jpg" id="img24" class="img-responsive" alt="Hộp quà đôi" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">Hộp quà đôi</p>
                    <div class="pro-weight">
                        <span>Hoa Cafe</span>
                        <span class="price"></span>
                        <button id="order" rel="24" rel1="Hoa Cafe" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                        <span> Hoa chôm chôm</span>
                        <span class="price"></span>
                        <button id="order" rel="24" rel1=" Hoa chôm chôm" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    Bộ quà tặng hai chai mật ong trong hộp gỗ thông được thiết kế tinh tế, sang trọng là món quà ý nghĩa, thiết thực dành tặng cho cá nhân, doanh nghiệp.<br>
                    <br>
                    Phù hợp làm quà tặng cho các dịp lễ tết, giúp doanh nghiệp tạo ấn tượng riêng biệt, khó phai trong lòng khách hàng với chi phí vô cùng hợp lý. Bộ quà tặng chỉn chu trang trọng mà không cầu kỳ của Tracybee đủ nói lên đẳng cấp và sự tinh tế của người chọn.						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse24" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse24" class="panel-collapse collapse" aria-expanded="false">
                        <strong>1. Ăn trực tiếp:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;ngậm một muỗng cafe mật ong khi bị khô cổ hoặc ho khan để nhanh chóng giảm cơn ho.</span><br>
                        <strong>2. Giảm cân:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;1 muỗng canh mật ong+ 1/4 trái chanh + 150ml nước ấm uống trước bữa ăn sáng (hoặc 1 giờ sau khi ăn) giúp giảm mỡ máu, mỡ thừa, giảm đau dạ dày, làm mát cơ thể giúp da hồng hào, trắng mịn.</span><br>
                        <strong>3. Nấu ăn:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;Dùng làm gia vị món nướng, trộn salad, tôm rim, thịt bò xào... để giúp hấp thu dinh dưỡng tốt hơn.</span><br>
                        <strong>4. Dưỡng da:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;Kết hợp với cái loại trái cây hoặc sữa chua để đắp mặt</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">5. Pha thức uống: kết hợp với cam, chanh, chanh dây, nước ép trái cây, trà xanh... bổ sung vitamin cho cơ thể, tăng sức đề kháng&nbsp;</span><br>
                        <br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">LƯU Ý KHÔNG BẢO QUẢN LẠNH.</span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                    <div class="row" style="margin:50px 0px 10px 0;">
                        <img src="http://tracybee.vn/public/upload/images/596d88c315c1c.png" id="iimg" rel="25" alt="Hộp quà đơn" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                    <div class="row" style="margin:10px 0px;">
                        <img src="http://tracybee.vn/public/upload/images/596d88c316237.png" id="iimg" rel="25" alt="Hộp quà đơn" style="height: 90px;border: 1px solid #ddd;margin-bottom:10px;width:69px;height:74px;">
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/56a22ee486c38.jpg" id="img25" class="img-responsive" alt="Hộp quà đơn" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">Hộp quà đơn</p>
                    <div class="pro-weight">
                        <span>Hoa cafe</span>
                        <span class="price"></span>
                        <button id="order" rel="25" rel1="Hoa cafe" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                        <span> Hoa chôm chôm</span>
                        <span class="price"></span>
                        <button id="order" rel="25" rel1=" Hoa chôm chôm" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Hộp quà tặng một chai mật ong trong hộp gỗ thông được thiết kế tinh tế, sang trọng là món quà ý nghĩa, thiết thực dành tặng cho cá nhân, doanh nghiệp.</span><br>
                    <br>
                    <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">Phù hợp làm quà tặng cho các dịp lễ tết, giúp doanh nghiệp, cá nhân tạo ấn tượng riêng biệt, khó phai trong lòng khách hàng, bạn bè và người thân với chi phí vô cùng hợp lý. Thiết kế đơn giản nhưng chỉn chu và trang trọng, hộp quà đơn này đáp ứng đầy đủ tiêu chí của một món quà đẳng cấp, thiết thực.</span>						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse25" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse25" class="panel-collapse collapse" aria-expanded="false">
                        <strong>1. Ăn trực tiếp:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;ngậm một muỗng cafe mật ong khi bị khô cổ hoặc ho khan để nhanh chóng giảm cơn ho.</span><br>
                        <strong>2. Giảm cân:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;1 muỗng canh mật ong+ 1/4 trái chanh + 150ml nước ấm uống trước bữa ăn sáng (hoặc 1 giờ sau khi ăn) giúp giảm mỡ máu, mỡ thừa, giảm đau dạ dày, làm mát cơ thể giúp da hồng hào, trắng mịn.</span><br>
                        <strong>3. Nấu ăn:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;Dùng làm gia vị món nướng, trộn salad, tôm rim, thịt bò xào... để giúp hấp thu dinh dưỡng tốt hơn.</span><br>
                        <strong>4. Dưỡng da:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;Kết hợp với cái loại trái cây hoặc sữa chua để đắp mặt</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">5. Pha thức uống: kết hợp với cam, chanh, chanh dây, nước ép trái cây, trà xanh... bổ sung vitamin cho cơ thể, tăng sức đề kháng&nbsp;</span><br>
                        <br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">LƯU Ý KHÔNG BẢO QUẢN LẠNH.</span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
    <div class="main-pro container-fluid">
        <div class="container mpro1">
            <div class="col-xs-12 col-md-6 pro-img">
                <div class="col-sm-2 col-xs-3" style="padding:0px;">
                </div>
                <div class="col-sm-10 col-xs-12">
                    <center>
                        <img src="http://tracybee.vn/public/upload/images/56a22fd25b387.jpg" id="img26" class="img-responsive" alt="Hộp quà hai lọ 189ml" style="max-height: 425px;max-width: 400px;margin:40px 0;">
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 pro-info" style="margin:40px 0;">
                <div class="pro-top row">
                    <p class="pro-name">Hộp quà hai lọ 189ml</p>
                    <div class="pro-weight">
                        <span>Hoa cafe</span>
                        <span class="price"></span>
                        <button id="order" rel="26" rel1="Hoa cafe" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                        <span> Hoa chôm chôm</span>
                        <span class="price"></span>
                        <button id="order" rel="26" rel1=" Hoa chôm chôm" class="order-button">Đặt hàng</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 pro-desc">
                    Hộp quà tặng hai lọ mật ong xinh xắn trong hộp gỗ thông sẽ tạo sự bất ngờ thú vị cho người nhận.<br>
                    <br>
                    Thống nhất trong lối thiết kế sang trọng, tinh tế, món quà này sẽ chinh phục được những người kén chọn nhất. Là món quà hoàn hảo mà bạn có thể dành tặng cho những người thân, bạn bè, khách hàng với thông điệp quan tâm về sức khoẻ thiết thực nhất.						<div class="clearfix"></div>
                    <br>
                    <a data-toggle="collapse" data-parent="#prod" href="#collapse26" class="collapsed" aria-expanded="false" style="color:#333;text-decoration:none;font-weight:bolder;margin-top:10px;"><i class="fa fa-caret-down" style="color:#fcb040;font-size:20px;"></i>&nbsp;<strong>HƯỚNG DẪN SỬ DỤNG</strong></a>
                    <div id="collapse26" class="panel-collapse collapse" aria-expanded="false">
                        <strong>1. Ăn trực tiếp:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;ngậm một muỗng cafe mật ong khi bị khô cổ hoặc ho khan để nhanh chóng giảm cơn ho.</span><br>
                        <strong>2. Giảm cân:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;1 muỗng canh mật ong+ 1/4 trái chanh + 150ml nước ấm uống trước bữa ăn sáng (hoặc 1 giờ sau khi ăn) giúp giảm mỡ máu, mỡ thừa, giảm đau dạ dày, làm mát cơ thể giúp da hồng hào, trắng mịn.</span><br>
                        <strong>3. Nấu ăn:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;Dùng làm gia vị món nướng, trộn salad, tôm rim, thịt bò xào... để giúp hấp thu dinh dưỡng tốt hơn.</span><br>
                        <strong>4. Dưỡng da:</strong><span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">&nbsp;Kết hợp với cái loại trái cây hoặc sữa chua để đắp mặt</span><br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">5. Pha thức uống: kết hợp với cam, chanh, chanh dây, nước ép trái cây, trà xanh... bổ sung vitamin cho cơ thể, tăng sức đề kháng&nbsp;</span><br>
                        <br>
                        <span style="color:rgb(0, 0, 0); font-family:helvetica-light,arial; font-size:14px">LƯU Ý KHÔNG BẢO QUẢN LẠNH.</span>
                    </div>
                </div>
                <span class="clearfix"></span>
                <!-- <span class="detail-button" onClick="viewMainPro(1);">Chi tiết</span>  -->
            </div>
        </div>

        <div class="container dmpro1"></div>
    </div><!-- .main-pro -->
</section>